/* body {
    margin: 0;
} */

/* table {
    margin: 0;
    padding: 0;
    position: relative;
    width: 900px;
    height: 900px;
    border: 1px black solid;
}
td {
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    border: 1px black solid;
}
.rowbar {
    width: 66%;
    height: 34%;
}

.colbar {
    width: 34%;
    height: 66%;
} */

/* #no1 {

    left: 0;
    top: 0;
}

#no2 {
    right: 0;
    top: 0;

}

#no3 {
    left: 0;
    bottom: 0;

}
/* 

#no4 {
    right: 0px;
    top: 0px;

} */

/* #no5 {
    right: 0;
    bottom: 0;

}  */



div {
    display: inline-block;
    border: 1px solid black;
}

#wholebox{
    width: 910px;
    height: 910px;

}

.rowbar{
    width: 600px;
    height: 300px;
}
/* 
.colbar{
    width: 300px;
    height: 600px;
} */
