.no1 {
    display: inline-block;
    width: 100%;
    border: dotted 1px black;
    margin-bottom: 10px;
}
.no2 {
    display: inline-block;
    width: 100%;
    border: dotted 3px black;
    margin-bottom: 10px;
}
.no3 {
    display: inline-block;
    width: 100%;
    border: double 1px black;
    margin-bottom: 10px;
}
.no4 {
    display: inline-block;
    width: 100%;
    border: double 2px green;
    margin-bottom: 10px;
}
.no5 {
    display: inline-block;
    width: 100%;
    border: double 5px green;
    margin-bottom: 10px;
}
.no6 {
    display: inline-block;
    width: 100%;
    border: solid 10px green;
    margin-bottom: 10px;
}
