/* 홈페이지 첫화면 만들어보기 */

body{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('은하수.jpg');
    background-size: cover;
    margin: 0px; /* 최고로 중요! 사이즈가 안맞을때 해야하는 작업!! */

}

div {
    display: inline-block;
}


#appbar {
    position: absolute;
    /* top: 0px; */
    width: 100%;
    height: 40px;
    /* 질문! 왜 height를 40%로 했을때 40% 사이즈가 안되는가? */

    background-color: #333131;
    line-height: 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    /* text-indent: 10px; */
}

#actionbutton {
    position: absolute;
    right: 0px;
}

.chld1{
    margin-right: 30px;
    margin-left: 30px;
}


#readme {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    /* line-height: 80px; */

    top: 400px; 
    left: 30%;
    /* 질문! 위치 지정이 마음대로 안됨 */

    color: white;
}

span{
    color: red;
}

#mywork{
    position: relative;
    left: 20%;
    /* 질문! 정중앙에 놓고 싶은데..어케? */
    margin-top: 30px;
    border: white solid 2px;
    line-height: 60px;
    padding: 20px;
}


