/* .c1{
    position: absolute;
    display: inline-block;
    width: 66.6%;
    height: 33.3%;
    background-color: blue;
    border: 1px black solid;
}
.c2{
    position: absolute;
    left: 66.6%;
    display: inline-block;
    width: 33.3%;
    height: 66.6%;
    background-color: green;
    border: 1px black solid;
}   
.c4{
    position: absolute;
    top: 33.3%;
    display: inline-block;
    width: 33.3%;
    height: 66.6%;
    background-color: red;
    border: 1px black solid;
}   
.c3{
    position: absolute;
    left: 33.3%;
    bottom: 50%;
    display: inline-block;
    width: 66.6%;
    height: 33.3%;
    background-color: violet;
    border: 1px black solid;
}   
 */



 #c0 {
    position: relative;
    display: inline-block;
    width: 900px;
    height: 900px;
    background-color: gold;
    border: 1px black solid;
}

#c1{
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 300px;
    background-color: blue;
    
}

#c2{
    position: absolute;
    right: 0px;

    display: inline-block;
    width: 300px;
    height: 600px;
    /* background-color: green; */
}

#c3{
    position: absolute;
    right: 0px;
    bottom: 0px;

    display: inline-block;
    width: 600px;
    height: 300px;
    /* background-color: violet; */
}

#c4{
    position: absolute;
    left: 0px;
    top: 300px;

    display: inline-block;
    width: 300px;
    height: 600px;
    /* background-color: red; */
}

#c5 {
    position: absolute;
    right: 300px;
    top: 300px;
    background-image: url("../4월15일/미니언.jpg");
    background-size: cover;
    display: inline-block;
    width: 300px;
    height: 300px;
}



/* 선생님 답안지

div{
   display: inline-block; 
}

.child{
    position: absolute;
}

#mother{
    margin-left: 30%;
    position: relative;
    width: 900px;
    height: 900px;
    border: 1px black solid;
}
#ch1{
top: 0px;
left: 0px;
}

#ch2{
    top: 0px;
    right: 0px;
    }

    
#ch5{
background-image: url("미니언.jfif");
background-size: cover;
    } */