/* body {
    margin: 0;
} */

/* table {
    margin: 0;
    padding: 0;
    position: relative;
    width: 900px;
    height: 900px;
    border: 1px black solid;
}
td {
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    border: 1px black solid;
}
.rowbar {
    width: 66%;
    height: 34%;
}

.colbar {
    width: 34%;
    height: 66%;
} */

/* #no1 {

    left: 0;
    top: 0;
}

#no2 {
    right: 0;
    top: 0;

}

#no3 {
    left: 0;
    bottom: 0;

}
/* 

#no4 {
    right: 0px;
    top: 0px;

} */

/* #no5 {
    right: 0;
    bottom: 0;

}  */



/* 
#wholebox {
    width: 904.44px;
    height: 904.44px;
    position: relative;
}

div {
    display: inline-block;
    border: 1px solid black;
    position: absolute;
}

.rowbar {
    width: 600px;
    height: 300px;
}

.colbar {
    height: 600px;
    width: 300px;
}

#no1 {
    background-color: red;
}

#no2 {
    right: 0;
    background: yellow;
}
#no3 {
    right: 0;
    bottom: 0;
    background-color: orange;
}
#no4 {
    bottom: 0;
    background-color: green;
}

#no5 {
    left: 302.22px;
    top: 302.22px;
    width: 297.78px;
    height: 297.78px;
    background-color: blue;
} */

div{
    display: inline-block;
    border: 0.1px solid black;
}

#wholebox{
    width: 600px;
    height: 900px;
    background-color: lightgrey;
    position: relative;
}

#upper{
    width: 600px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#insert{
    width: 600px;
    height: 100px;
}
#lower{
    position: absolute;
    bottom: 0px;
    width: 600px;
    height: 680px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.small{
    position: relative;
    width: 400px;
    height: 150px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    left:100px;
    top: 50px;
    margin-bottom: 30px;
}